<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="container" :class="{show:isCtnShow}" @click="hideSlider">
    <canvas id="anm-canvas" class="anm-canvas"></canvas>
    <div class="left-col" :class="{show:isShow}">
      <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
      <%- partial('_partial/live2d') %>
    </div>
    <div class="btnctn js-mobile-btnctn">
      <div class="slider-trigger" @click="openSlider($event, 'innerArchive', true)">
        <i class="icon icon-list"></i>
      </div>
      <div class="slider-trigger" @click="toolsClick('tools.eye')">
        <i class="icon icon-eye"></i>
      </div>
    </div>
    <div class="mid-col" :class="{show: isShow,hide: isShow!==undefined && !isShow}">
      <a name="top"></a>
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div id="wrapper" class="body-wrap" v-pre>
        <div class="menu-l">
          <div class="canvas-wrap">
            <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" class="anm-canvas"></canvas>
          </div>
          <div id="js-content" class="content-ll">
            <%- body %>
          </div>
        </div>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/tools') %>
    <%- partial('_partial/viewer') %>
  </div>
  <%- partial('_partial/after-footer') %>
</body>
</html>