<% if (param.postIndex === 0 || !param.index){ %>
<%- partial('_partial/aside') %>
<% } %>
<div class="article-outer">
<article class="article article-type-<%= post.layout %> <%if(param.index){%>article-index<%}%>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <% if (!post.noDate){ %>
        <%- partial('post/date', {class_name: 'archive-article-date', 
          date_format: config.date_format+(post.excerpt && param.index ? '':' '+config.time_format)}) %>
        <% } %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && param.index){ %>
        <%- post.excerpt %>
      <% } else { %>
        <% if (!page.pageid){ %>
        <div class="post-count">
          <div class="count-item">
            <i class="icon icon-file-text-o"></i>
            总字数
            <span><%= wordcount(post.content) %></span>
          </div>
          <div class="count-item">
            <i class="icon icon-clock"></i>
            预计阅读时间
            <span><%= min2read(post.content) %></span> 分钟
          </div>
        </div>
        <% } %>
        <%- post.content %>
      <% } %>
      <% if ((theme.reward_type === 2 || (theme.reward_type === 1 && post.reward)) && !param.index){ %>
        <div class="page-reward">
          <a href="javascript:;" class="page-reward-btn tooltip-top">
            <div class="tooltip tooltip-east">
            <span class="tooltip-item">
              赏
            </span>
            <span class="tooltip-content">
              <span class="tooltip-text">
                <span class="tooltip-inner">
                  <p class="reward-p"><i class="icon icon-quote-left"></i><%= theme.reward_wording%><i class="icon icon-quote-right"></i></p>
                  <div class="reward-box">
                    <% if(theme.alipay) {%>
                    <div class="reward-box-item">
                      <img class="reward-img" src="<%= theme.alipay%>">
                      <span class="reward-type">支付宝</span>
                    </div>
                    <% } %>
                    <% if(theme.weixin) {%>
                    <div class="reward-box-item">
                      <img class="reward-img" src="<%= theme.weixin%>">
                      <span class="reward-type">微信</span>
                    </div>
                    <% } %>
                  </div>
                </span>
              </span>
            </span>
          </div>
          </a>
        </div>
      <% } %>
    </div>
    <div class="article-info article-info-index">
      <%if(post.top){%>
        <div class="article-pop-out tagcloud">
          <i class="icon-thumb-tack"></i>
          <a class="article-tag-list-link color3">置顶</a>
        </div>
      <% } %>
      <%- partial('post/tag') %>
      <%- partial('post/category') %>
      <% if (param.index){ %>
        <p class="article-more-link">
          <a class="article-more-a" href="<%- url_for(post.path) %>"><%= __('show_full_text') %> >></a>
        </p>
      <% } %>
      <% if (!param.index && theme.share_enable){ %>
        <%- partial('post/share') %>
      <% } %>
      <div class="clearfix"></div>
    </div>
  </div>
</article>
</div>
<% if (!param.index){ %>
  <%- partial('post/nav') %>
<% } %>

<% if (!param.index && post.comments && theme.valine.enable){ %>
  <div id="comments"></div> 
<% } %>