<% var defaultBg = '#4d4d4d'; %>
<div class="overlay" ></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="<%=config.root%>" @mouseover="linkMouseover('home')" class="profilepic">
			<img src="<%=theme.avatar%>" class="js-avatar">
		</a>
		<hgroup>
		  <h1 class="header-author"><a href="<%=config.root%>" @mouseover="linkMouseover('home')"><%=theme.author%></a></h1>
		</hgroup>
		<% if (theme.subtitle){ %>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<% } %>

		<nav class="header-menu">
			<ul>
				<% for (let menuName in theme.menu){ %>
				<li><a href="<%- url_for(theme.menu[menuName].url) %>" target="<%= theme.menu[menuName].target || '_self' %>"><%= __(theme.menu[menuName].name) %></a></li>
	    	<% } %>
			</ul>
		</nav>
		<nav class="header-smart-menu">
			<% for (let menuName in theme.smart_menu){ 
				if(theme.smart_menu[menuName]){ %>
				<a @click="openSlider($event, '<%=menuName%>')" @mouseover="linkMouseover('<%=menuName%>')" href="javascript:void(0)"><%= __(theme.smart_menu[menuName]) %></a>
				<% } 
			} %>
		</nav>
		<nav class="header-nav">
			<div class="social">
				<% for (let navName in theme.subnav){ %>
					<a class="<%= navName %>" target="_blank" href="<%- url_for(theme.subnav[navName]) %>" @mouseover="linkMouseover('<%=navName %>')" title="<%= navName %>"><i class="icon-<%= navName %>"></i></a>
		    <% } %>
			</div>
		</nav>
	</header>		
</div>
